@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

html, body {
  height: 100%;
  width: 100%;
} 
body {
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.header { 
  display: flex;
  justify-content: space-between;
}

.scoreDiv {
  align-self: center;
  padding-right: 5vw;
}

.logoGravatar {
  padding: 2vh;
}